<p class="h2 pt-2">Marcas</p>

<p>Aqui puedes ver las marcas registradas</p>

<button class="btn btn-success" [routerLink]="['/nueva-marca']" > <i class="fa fa-plus mr-1" aria-hidden="true"></i> Agregar nueva Marca</button>

<table class="table text-center">
  <thead>
    <tr>
      <th>ID</th>
      <th>Marca</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let marca of marcas">
      <td scope="row">{{marca.id}}</td>
      <td>{{marca.name}}</td>
      <td>
        <a href="#" class="btn btn-warning mr-3">Editar</a>
        <a href="#" class="btn btn-danger">Borrar</a>
      </td>
    </tr>        
  </tbody>
</table>

<button class="btn btn-dark" [routerLink]="['/inicio']"><i class="fa fa-arrow-left mr-1" aria-hidden="true"></i> Volver </button>