<p class="h2 pt-2">Tallas</p>

<p>Aqui puedes ver las tallas disponibles</p>

<button class="btn btn-success" [routerLink]="['/nueva-talla']" > <i class="fa fa-plus mr-1" aria-hidden="true"></i> Agregar nueva talla</button>

<table class="table text-center">
  <thead>
    <tr>
      <th>#</th>
      <th>Talla</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let talla of tallas | paginate: {itemsPerPage: 7, currentPage: pageActual} ; let i = index">
      <td scope="row">{{i+1}}</td>
      <td>{{talla.name}}</td>
      <td>
        <a href="#" class="btn btn-warning mr-3">Editar</a>
        <a href="#" class="btn btn-danger">Borrar</a>
      </td>
    </tr>        
  </tbody>
</table>
<pagination-controls (pageChange)="pageActual = $event"></pagination-controls>

<button class="btn btn-dark" [routerLink]="['/inicio']"><i class="fa fa-arrow-left mr-1" aria-hidden="true"></i> Volver </button>