<div class="bg-dark container-fluid">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark container">
    <a class="navbar-brand" href="#">
        V'Divas</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/inicio']"  routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/generar-venta']" *ngIf="identity" routerLinkActive="active">Generar Venta</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/ventas']" routerLinkActive="active" *ngIf="rol && rol=='ROLE_USER'">Ventas</a>
        </li>
        
        <li class="nav-item dropdown" *ngIf="identity">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inventario</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" [routerLink]="['/talla']" routerLinkActive="active" >Tallas</a>
            <a class="dropdown-item" [routerLink]="['/marca']" routerLinkActive="active">Marcas</a>
            <a class="dropdown-item" [routerLink]="['/modelo']" routerLinkActive="active">Modelos</a>
            <a class="dropdown-item" [routerLink]="['/tipo']" routerLinkActive="active">Tipo</a>          
          </div>
        </li>

        
      </ul>
      <ul class="navbar-nav nav-right">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active" *ngIf="!identity">Identificarse</a>
        </li>
        <li class="nav-item dropdown" *ngIf="identity && identity.name">
          <a class="nav-link dropdown-toggle" href="#" id="identidad" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">{{identity.name}}</a>
          <div class="dropdown-menu" aria-labelledby="identidad">
            <a class="dropdown-item" href="#">Action 1</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/logout/1']"  *ngIf="identity">Cerrar Sesion</a>
        </li>
      </ul>
    </div>
  </nav>
</div>


<div class="container mt-3"><router-outlet></router-outlet></div>
