<p class="h2 pt-2">Marcas</p>

<p>Aqui puedes ver las marcas registradas</p>


<!-- Button trigger modal -->
<button *ngIf="role && role=='ROLE_ADMIN'" type="button" class="btn btn-success mb-3" (click)="add()" data-toggle="modal" data-target="#newMarca">
  <i class="fa fa-plus mr-1" aria-hidden="true"></i> Agregar nueva Marca
</button>

<p class="p page_actual">Pagina {{pageActual}}</p>

<!-- Modal -->
<div class="modal fade" id="newMarca" tabindex="-1" role="dialog" aria-labelledby="newMarcaLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newMarcaLabel" *ngIf="!update">Agregar nueva Marca</h5>
        <h5 class="modal-title" id="newMarcaLabel" *ngIf="update">Editar Marca</h5>
        <button type="button" class="close" id="btnClose" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #newMarca="ngForm" (ngSubmit)="onSubmit(newMarca)" class="row">
          
          
            <div class="form-group col-md-6">
              <label for="tipo_id">Tipo de prenda</label>
              <select class="form-control" name="tipo_id" #tipo="ngModel" [(ngModel)]="marca.tipo_id">
                <option value="0">Seleccion el tipo de prenda</option>
                <option *ngFor="let tipo of tipos" value="{{tipo.id}}">{{tipo.name}}</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="name">Nombre</label>
              <input type="text" name="name" #name="ngModel" [(ngModel)]="marca.name" class="form-control " required>            
            </div>
            
          <div class="col-12 my-3">
            <input type="submit" class="btn btn-primary" [disabled]="!newMarca.valid || marca.tipo_id == 0" *ngIf="!update" value="Crear">
            <input type="button" (click)="updateMarca(marca.id)" class="btn btn-primary" [disabled]="!newMarca.valid || marca.tipo_id == 0" *ngIf="update" value="Actualizar">
          </div>

        </form>
      </div>
      
    </div>
  </div>
</div>

<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Marca</th>
      <th scope="col">Tipo de prenda</th>
      <th scope="col" *ngIf="role && role=='ROLE_ADMIN'">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let marc of marcas | paginate: {itemsPerPage: 7, currentPage: pageActual, totalItems: this.numberOfElements} ; index as i">
      <td scope="row">{{i+1}}</td>
      <td scope="row">{{marc.name}}</td>
      <td>{{marc.tipo.name}}</td>
      <td *ngIf="role && role=='ROLE_ADMIN'">
        <button class="btn btn-warning mr-2" data-toggle="modal" data-target="#newMarca" (click)="preUpdateMarca(marc)">Editar</button>
        <button class="btn btn-danger" (click)="delete(marc)" >Eliminar</button>
      </td>
    </tr>        
  </tbody>
</table>

<pagination-controls class="text-center" (pageChange)="pageActual = $event"></pagination-controls>

<button class="btn btn-dark" [routerLink]="['/inicio']"><i class="fa fa-arrow-left mr-1" aria-hidden="true"></i> Volver </button>