<p class="h2">Tipos</p>
<p class="p">Aqui estaran los tipos de prendas. Por ejemplo (casaca, chompa manga larga, etc).</p>
<!-- Button trigger modal -->
<button type="button" class="btn btn-success" (click)=add() data-toggle="modal" data-target="#tipoModal">
  <i class="fa fa-plus mr-1" aria-hidden="true"></i> Agregar nuevo tipo
</button>

<!-- Modal -->
<div class="modal fade" id="tipoModal"  tabindex="-1" role="dialog" aria-labelledby="tipoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tipoModalLabel">{{modal_title}}</h5>
        <button type="button" class="close" id="btnClose" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #newTipo="ngForm" (ngSubmit)="onSubmit(newTipo)">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="tipo.name" class="form-control" aria-describedby="helpId" required>
            <small id="helpId" class="text-muted">(casaca, chompa manga larga, etc)</small>
          </div>

          <button type="submit"  class="btn btn-primary" [disabled]="!newTipo.valid" *ngIf="!update">{{btnForm}}</button>
          <button type="button" (click)="updateTipo(tipo)" *ngIf="update"  class="btn btn-primary" [disabled]="!newTipo.valid">{{btnForm}}</button>
        </form>
      </div>
      
    </div>
  </div>
</div>
<table class="table mt-3 text-center">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th *ngIf="role && role=='ROLE_ADMIN'">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tip of tipos | paginate: {itemsPerPage: 7, currentPage: pageActual} ; let i = index">
      <td scope="row">{{i+1}}</td>
      <td>{{tip.name}}</td>
      <td *ngIf="role && role=='ROLE_ADMIN'">        
        <button class="btn btn-warning mr-3" data-toggle="modal" data-target="#tipoModal" (click)="preUpdateTipo(tip)" >Editar</button>
        <button (click)="deleteTipo(tip)" class="btn btn-danger">Borrar</button>
      </td>
    </tr>    
  </tbody>
</table>
<pagination-controls class="text-center" (pageChange)="pageActual = $event"></pagination-controls>
