<p class="h2">Ventas</p>
<table class="table mt-3 text-center">
  <thead>
    <tr>
      <th>#</th>
      <th>Usuario</th>
      <th>Total (S/.)</th>
      <th>Descuento</th>
      <th>Fecha</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vent of ventas ; let i = index">
      <td scope="row">{{i+1}}</td>
      <td>{{vent.user.name}}</td>
      <td>S/{{vent.total}}</td>
      <td>{{vent.discount}}</td>
      <td>{{vent.created_at}}</td>
      <td>
        <button class="btn btn-info mr-2" [routerLink]="['/detalle-venta', vent.id]" >Ver detalles</button>
        <button class="btn btn-warning mr-2">Editar</button>
        <button class="btn btn-danger">Eliminar</button>
      </td>
    </tr>    
  </tbody>
</table>