<div class="container">
  <p class="h2">Crear nueva Talla</p>
  <p class="p">En el espacio en blanco ponga la talla nueva a ingresar</p>
  
  <form class="col-md-6" #newTalla="ngForm" (ngSubmit)="onSubmit(newTalla)">
    <div class="form-group">
      <label for="name">Talla </label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="talla.name" class="form-control" aria-describedby="helpId" required>
      <small id="helpId" class="text-muted">Ingrese una nueva talla, por ejemplo (X,L,XL) y tambien puede agregar numeros </small>
    </div>
  
    <input type="submit" class="btn btn-success" value="Crear Talla">
  </form>
  
  <button class="mt-3 btn btn-dark" [routerLink]="['/talla']"><i class="fa fa-arrow-left mr-1" aria-hidden="true"></i> Volver </button>
</div>